<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ada Movie</title>
</head>
<body>
  <form action="#" th:action="@{app/movies}" th:object="${movie}" method="post">
      <label>Title</label>
      <input type="text" th:field="*{title}"/>
      <label>Genre</label>
      <input type="text" th:field="*{genre}"/>
      <label>Rating</label>
      <input type="decimal" step="0.1" maxLength="3" min="0" max="10" th:field="*{rating}"/>
      <label>Image</label>
      <input type="text" th:field="*{image}"><br/>
      <input type="hidden" th:field="*{id}"/>
      <input type="submit" value="Save"/>
  </form>
</body>
</html>