<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{player.page_title}"></title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th th:text="#{player.id}">
        <th th:text="#{player.name}">
        <th th:text="#{player.score}">
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}" />
        <td th:text="${player.name}" />
        <td th:text="${player.score}" />
        <td>
            <a th:href="@{'/app/players/edit/' + ${player.id}}" th:text="#{action.edit}"/>
        </td>
        <td>
            <a th:href="@{'/app/players/delete/' + ${player.id}}" th:text="#{action.delete}"/>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/app/players/create}" th:text="#{action.create}"></a>
</body>
</html>